{% extends "base.html" %}

{% block title %}Lista de Fornecedor{% endblock %}

{% block content %}
<h2 class="mb-4">Lista de Fornecedor</h2>

<a href="/cadastroFornecedor" class="btn btn-success mb-3">
    <i class="bi bi-plus-circle"></i> Cadastrar Novo Fornecedor
</a>

{% if fornecedor %}
<table class="table table-bordered table-hover align-middle">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>NOME FORNECEDOR</th>
            <th>CONTATO FORNECEDOR</th>
            <th>CNPJ FORNECEDOR</th>
        </tr>
    </thead>
    <tbody>
        {% for for in fornecedor %}
        <tr>
            <td>{{ for.id_fornecedor_pk }}</td>
            <td>{{ for.nome_fornecedor }}</td>
            <td>{{ for.contato_fornecedor }}</td>
            <td>{{ for.cnpj_fornecedor }}</td>
            <td>
                <button onclick="editarFornecedor({{ for.id_fornecedor_pk }}, '{{ fornecedor.nome_fornecedor }}')" class="btn btn-sm btn-warning">
                    <i class="bi bi-pencil-square"></i> Editar
                </button>
                <a href="/deletar/fornecedor/{{ for.id_fornecedor_pk }}" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este fornecedor?');">
                    <i class="bi bi-trash"></i> Excluir
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">Nenhum fornecedor cadastrado ainda.</div>
{% endif %}

{% endblock %}
