{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3 shadow">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">Bem-vindo ao sistema de gerenciamento de medicamentos da <span class="text-primary">MedMais</span></h1>
            <p class="fs-4 mt-4">Otimize o controle de estoque, validade, e movimentação dos seus medicamentos com praticidade e segurança.</p>
            <a href="/medicamentos" class="btn btn-primary btn-lg mt-3">Gerenciar Medicamentos</a>
        </div>
    </div>
</div>
{% endblock %}
